.article {
    background: var(--accent-color-400);
    border-radius: 1em;
    padding: 2em;
    color: var(--neutral-color-100);
    /* max-width: 500px; */
}

@media (min-width: 676px) {
    .article {
        max-width: 400px;
    }
}

.article__heading {
    font-size: 2.125rem;
    margin-top: 1em;
}

/* .article__heading::before {
    content: "";
    background-image: url("../public/images/icon-star.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 17px;
    height: 16px;
} */

.article__intro {
    color: var(--neutral-color-300);
}

.article__ratings {
    font-size: 1rem;
    color: var(--neutral-color-300);
    /* text-align: center; */
    margin-top: 2.25rem;
}

.article__ratings__ratingGrade {
    display: inline-block;
    background: var(--neutral-color-500);
    padding: 0.85em 1.5em;
    border-radius: 50%;
}

.article__ratings__ratingGrade:hover {
    color: var(--neutral-color-100);
    background: var(--primary-color-400);
    cursor: pointer;
}

.article__ratings > * + * {
    margin-left: 1.125rem;
}

.button {
    display: block;
    background: var(--primary-color-400);
    border: none;
    color: var(--neutral-color-100);
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 0.75em 1em;
    width: 100%;
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin-left: 0;
    margin-top: 2rem;
}

.button:hover {
    background: var(--neutral-color-100);
    color: var(--primary-color-400);
    cursor: pointer;
}

.article__figure {
    width: min-content;
    padding: 1em 1.1em;
    background: var(--neutral-color-500);
    border-radius: 50%;
}

.article__figure img {
    display: block;
}
